
@mixin display_column{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
@mixin display_row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
@mixin locationPhotographer{
    font-weight: 400;
    font-size: 24px;
    color: $colorLoacation
}
@mixin taglinePhotographer{
    
    font-weight: 400;
    font-size: 18px;
}